<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Liên hệ</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/web/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/web/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/web/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/web/custom/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/web/custom/favicon.ico" type="image/x-icon">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div th:replace="~{/web/header-footer :: .offcanvas-menu-overlay}" class="offcanvas-menu-overlay"></div>
    <div th:replace="~{/web/header-footer :: .offcanvas-menu-wrapper}" class="offcanvas-menu-wrapper">
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header th:replace="~{/web/header-footer :: .header}" class="header">
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/shop"><i class="fa fa-home"></i>Trang chủ</a>
                        <span>Liên hệ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__content">
                        <div class="contact__address">
                            <h5>Thông tin liên hệ</h5>
                            <ul>
                                <li>
                                    <h6><i class="fa fa-map-marker"></i>Địa chỉ</h6>
                                    <p>191 Bà Triệu, phường Lê Đại Hành, quận Hai Bà Trưng, Hà Nội</p>
                                </li>
                                <li>
                                    <h6><i class="fa fa-phone"></i> Điện thoại</h6>
                                    <p><span>0902-172-338</span><span>0933-001-991</span></p>
                                </li>
                                <li>
                                    <h6><i class="fa fa-headphones"></i>Hỗ trợ</h6>
                                    <p>Support@ashion.com</p>
                                </li>
                            </ul>
                        </div>
                        <div class="contact__form">
                            <h5>Gửi tin nhắn</h5>
                            <form action="#">
                                <input type="text" placeholder="Tên">
                                <input type="text" placeholder="Email">
                                <input type="text" placeholder="Số điện thoại">
                                <textarea placeholder="Tin nhắn"></textarea>
                                <button type="submit" class="site-btn">Gửi tin nhắn</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14898.160095548503!2d105.8494833!3d21.0110677!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x31d0e909c37a459f!2zVmluY29tIENlbnRlciBCw6AgVHJp4buHdQ!5e0!3m2!1svi!2s!4v1667840287793!5m2!1svi!2s"
                                width="600" height="690" style="border:0;"
                                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

    <!-- Instagram Begin -->
    <div th:replace="~{/web/header-footer :: .instagram}" class="instagram">
    </div>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer th:replace="~{/web/header-footer :: .footer}" class="footer">
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div th:replace="~{/web/header-footer :: .search-model}" class="search-model">
    </div>

<!-- Js Plugins -->
<script src="/web/js/jquery-3.3.1.min.js"></script>
<script src="/web/js/bootstrap.min.js"></script>
<script src="/web/js/jquery.magnific-popup.min.js"></script>
<script src="/web/js/jquery-ui.min.js"></script>
<script src="/web/js/mixitup.min.js"></script>
<script src="/web/js/jquery.countdown.min.js"></script>
<script src="/web/js/jquery.slicknav.js"></script>
<script src="/web/js/owl.carousel.min.js"></script>
<script src="/web/js/jquery.nicescroll.min.js"></script>
<script src="/web/js/main.js"></script>
<script src="/web/custom/js/header-footer.js"></script>
<script>
    $(document).ready(() => {
        $('.header__menu__items li.active').removeClass('active');
        $("#menu_contact").addClass('active')
    })
</script>

</body>

</html>