<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/web/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/web/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/web/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/slicknav.min.css" type="text/css">
    <!-- toastr -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/web/css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div th:fragment="offcanvas-menu-overlay" class="offcanvas-menu-overlay"></div>
<div th:fragment="offcanvas-menu-wrapper" class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="/shop/cart"><span class="icon_bag_alt"></span>
            <div class="tip"></div>
        </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="/shop"><img src="/web/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="/admin">Login</a>
        <a href="#">Register</a>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header th:fragment="header" class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="/shop"><img src="/web/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul class="header__menu__items">
                        <li id="menu_home" class="active menu-item"><a href="/shop">Trang chủ</a></li>
                        <li id="menu_all" class="menu-item"><a href="/shop/products">Tất cả sản phẩm</a></li>
                        <li id="menu_women" class="menu-item"><a href="/shop/products?category=2">Nữ</a></li>
                        <li id="menu_men" class="menu-item"><a href="/shop/products?category=1">Nam</a></li>
                        <li id="menu_kid" class="menu-item"><a href="/shop/products?category=13">Trẻ em</a></li>
                        <li id="menu_contact" class="menu-item"><a href="/shop/contact">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth">
                        <th:block sec:authorize="not isAuthenticated()">
                            <a href="/admin">Đăng nhập</a>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-register" id="register-btn">Đăng kí</a>
                        </th:block>
                        <th:block sec:authorize="isAuthenticated()">
                            <a href="/admin/products" sec:authorize="hasAnyRole('ADMIN', 'INVENTORY', 'ORDER', 'CUSTOMER_CARE')">Quản trị</a>
                            <a href="/shop/detail" sec:authorize="hasAnyRole('CUSTOMER')">Tài khoản</a>
                            <a href="/logout">Đăng xuất</a>
                        </th:block>
                    </div>
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>
                        <li><a href="/shop/cart"><span class="icon_bag_alt"></span>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
        <!-- Create form-->
        <div class="modal fade" id="modal-register" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Đăng kí tài khoản</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group input-row pt-2">
                            <label for="createName">Họ và tên</label>
                            <input type="text" class="form-control" id="createName" placeholder="Enter name">
                            <small>error message</small>
                        </div>
                        <div class="form-group input-row pt-2">
                            <label for="createPhone">Số điện thoại</label>
                            <input type="text" class="form-control" id="createPhone" placeholder="Enter phone">
                            <small>error message</small>
                        </div>
                        <div class="form-group input-row pt-2">
                            <label for="createEmail">Email</label>
                            <input type="email" class="form-control" id="createEmail" placeholder="Enter email">
                            <small>error message</small>
                        </div>
                        <div class="form-group input-row pt-2">
                            <label for="createPassword">Mật khẩu</label>
                            <input type="password" class="form-control" id="createPassword" placeholder="Enter password">
                            <small>error message</small>
                        </div>
                        <div class="form-group pt-2">
                            <label for="createAddress">Địa chỉ</label>
                            <input type="text" class="form-control" id="createAddress" placeholder="Enter address">
                        </div>
                        <div class="form-group pt-2">
                            <label>City</label>
                            <select class="py-1" id="select-province" style="width: 100%;"></select>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary" id="create-customer">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Instagram Begin -->
<div th:fragment="instagram" class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/web/img/instagram/insta-1.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="/shop">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/web/img/instagram/insta-2.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="/shop">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/web/img/instagram/insta-3.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="/shop">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/web/img/instagram/insta-4.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="/shop">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/web/img/instagram/insta-5.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="/shop">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/web/img/instagram/insta-6.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="/shop">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer th:fragment="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="/shop"><img src="/web/img/logo.png" alt=""></a>
                    </div>
                    <p>Thời trang Ashion luôn đem đến cho khách hàng những sản phẩm chất lượng tốt nhất
                        và dịch vụ chăm sóc khách hàng chuyên nghiệp nhất.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="/web/img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="/web/img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="/web/img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="/web/img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="/web/img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Liên kết nhanh</h6>
                    <ul>
                        <li><a href="/shop/products">Tất cả sản phẩm</a></li>
                        <li><a href="/shop/products?categpry=1">Nam</a></li>
                        <li><a href="/shop/products?categpry=2">Nữ</a></li>
                        <li><a href="/shop/products?categpry=13">Trẻ em</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Tài khoản</h6>
                    <ul>
                        <li><a href="/admin">Đăng nhập</a></li>
                        <li><a href="/shop/detail">Tài khoản</a></li>
                        <li><a href="/shop/cart">Giỏ hàng</a></li>
                        <li><a href="#">Yêu thích</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>Đăng kí nhận tin</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Powered with <i class="fa fa-heart" aria-hidden="true"></i> by Mạnh Cường</p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div th:fragment="search-model" class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="/web/js/jquery-3.3.1.min.js"></script>
<script src="/web/js/bootstrap.min.js"></script>
<script src="/web/js/jquery.magnific-popup.min.js"></script>
<script src="/web/js/jquery-ui.min.js"></script>
<script src="/web/js/mixitup.min.js"></script>
<script src="/web/js/jquery.countdown.min.js"></script>
<script src="/web/js/jquery.slicknav.js"></script>
<script src="/web/js/owl.carousel.min.js"></script>
<script src="/web/js/jquery.nicescroll.min.js"></script>
<script src="/web/js/main.js"></script>
<!-- toastr -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/admin/custom/js/toastr-config.js"></script>
<!--link axios-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/web/custom/js/header-footer.js"></script>
</body>

</html>