<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Chi tiết sản phẩm</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/web/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/web/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/web/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/web/css/style.css" type="text/css">
    <!-- toastr -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/web/custom/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/web/custom/favicon.ico" type="image/x-icon">
    <style>
        .product__details__widget ul li .color__checkbox label.active {
            color: #ca1515;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div th:replace="~{/web/header-footer :: .offcanvas-menu-overlay}" class="offcanvas-menu-overlay"></div>
    <div th:replace="~{/web/header-footer :: .offcanvas-menu-wrapper}" class="offcanvas-menu-wrapper">
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header th:replace="~{/web/header-footer :: .header}" class="header">
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/shop"><i class="fa fa-home"></i> Trang chủ</a>
                        <a href="/shop/products">Nhóm sản phẩm </a>
                        <span>Essential structured blazer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#product-1">
                                <img src="img/product/details/thumb-1.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-2">
                                <img src="img/product/details/thumb-2.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-3">
                                <img src="img/product/details/thumb-3.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-4">
                                <img src="img/product/details/thumb-4.jpg" alt="">
                            </a>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img" src="/api/v1/product/images/1666704525347" alt="">
                                <img data-hash="product-2" class="product__big__img" src="/api/v1/product/images/1666704525347" alt="">
                                <img data-hash="product-3" class="product__big__img" src="/api/v1/product/images/1666704525347" alt="">
                                <img data-hash="product-4" class="product__big__img" src="/api/v1/product/images/1666704525347" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <div class="product__details__name">
                            <h3>Essential structured blazer <span>Brand: SKMEIMore Men Watches from SKMEI</span></h3>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>
                        <div class="product__details__price">$ 75.0</div>
                        <p class="product__details__description">Nemo enim ipsam voluptatem quia aspernatur aut odit aut loret fugit, sed quia consequuntur
                        magni lores eos qui ratione voluptatem sequi nesciunt.</p>
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Số lượng:</span>
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="cart-btn"><span class="icon_bag_alt"></span> Thêm vào giỏ</a>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Màu sắc:</span>
                                    <div class="color__checkbox">
                                        <label for="red">
                                            <input type="radio" name="color__radio" id="red" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label for="black">
                                            <input type="radio" name="color__radio" id="black">
                                            <span class="checkmark black-bg"></span>
                                        </label>
                                        <label for="grey">
                                            <input type="radio" name="color__radio" id="grey">
                                            <span class="checkmark grey-bg"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Kích thước:</span>
                                    <div class="size__btn">
                                    </div>
                                </li>
                                <li>
                                    <span>Vận chuyển:</span>
                                    <p>Miễn phí vận chuyển</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Mô tả sản phẩm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Đổi trả</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Mô tả sản phẩm</h6>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Đổi trả</h6>
                                <p>1. YÊU CẦU CHO SẢN PHẨM ĐỔI</p>
                                <p>- Sản phẩm còn mới chưa qua sử dụng, còn nguyên tag, mác và hóa đơn mua sản phẩm.</p>
                                <p>- Lưu ý: Không áp dụng đổi hàng cho sản phẩm thuộc chương trình khuyến mại (giảm giá sản phẩm trên 20%…)</p>
                                <p>2. THỜI GIAN ĐỔI SẢN PHẨM</p>
                                <p>- Khách hàng được quyền đổi sản phẩm để lấy bất kỳ sản phẩm khác 01 lần duy nhất trong vòng 03 ngày kể từ ngày xuất hoá đơn.</p>
                                <p>3. PHƯƠNG THỨC ĐỔI SẢN PHẨM</p>
                                <p>- Khách hàng vui lòng liên hệ với Shop qua Fanpage hoặc hotline để được hướng dẫn về
                                    phương thức đổi hàng và xác nhận trường hợp đủ điều kiện theo chính sách công ty.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hot-products">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>HOT PRODUCTS</h5>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Instagram Begin -->
    <div th:replace="~{/web/header-footer :: .instagram}" class="instagram">
    </div>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer th:replace="~{/web/header-footer :: .footer}" class="footer">
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div th:replace="~{/web/header-footer :: .search-model}" class="search-model">
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="/web/js/jquery-3.3.1.min.js"></script>
    <script src="/web/js/bootstrap.min.js"></script>
    <script src="/web/js/jquery.magnific-popup.min.js"></script>
    <script src="/web/js/jquery-ui.min.js"></script>
    <script src="/web/js/mixitup.min.js"></script>
    <script src="/web/js/jquery.countdown.min.js"></script>
    <script src="/web/js/jquery.slicknav.js"></script>
    <script src="/web/js/owl.carousel.min.js"></script>
    <script src="/web/js/jquery.nicescroll.min.js"></script>
    <script src="/web/js/main.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/admin/custom/js/toastr-config.js"></script>

    <!--link axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/web/custom/js/header-footer.js"></script>
    <script src="/web/custom/js/product-details.js"></script>
</body>

</html>